tower-cli
job_template
{% if tower_config_organization_job_template_credential.state|default('present') == 'present' %}
associate_credential
{% elif tower_config_organization_job_template_credential.state|default('present') == 'absent' %}
disassociate_credential
{% endif %}
{% if tower_config_organization_job_template.name is defined %}
--job-template {{ tower_config_organization_job_template.name | quote }}
{% endif %}
--credential {{ tower_config_organization_job_template_credential.name | quote }}