tower-cli
team
{% if tower_config_organization_team.state|default('present') == 'present' %}
associate
{% elif tower_config_organization_team.state|default('present') == 'absent' %}
disassociate
{% endif %}
{% if tower_config_organization_team.name is defined %}
--team {{ tower_config_organization_team.name | quote }}
{% endif %}
{% if tower_config_organization_team_member.name  is defined %}
--user {{ tower_config_organization_team_member.name | quote }}
{% endif %}
