tower-cli
role
{% if tower_config_organization_permission.state|default('present') == 'present' %}
grant
{% elif tower_config_organization_permission.state|default('present') == 'absent' %}
revoke
{% endif %}
{% if tower_config_organization_permission.user is defined %}
--user {{ tower_config_organization_permission.user | quote }}
{% endif %}
{% if tower_config_organization_permission.team is defined %}
--team {{ tower_config_organization_permission.team | quote }}
{% endif %}
{% if tower_config_organization_permission.target_team is defined %}
--target-team {{ tower_config_organization_permission.target_team | quote }}
{% endif %}
{% if tower_config_organization_permission.inventory is defined %}
--inventory {{ tower_config_organization_permission.inventory | quote }}
{% endif %}
{% if tower_config_organization_permission.job_template is defined %}
--job-template {{ tower_config_organization_permission.job_template | quote }}
{% endif %}
{% if tower_config_organization_permission.credential is defined %}
--credential {{ tower_config_organization_permission.credential | quote }}
{% endif %}
{% if tower_config_organization_permission.organization is defined %}
--organization {{ tower_config_organization_permission.organization | quote }}
{% endif %}
{% if tower_config_organization_permission.project is defined %}
--project {{ tower_config_organization_permission.project | quote }}
{% endif %}
{% if tower_config_organization_permission.workflow is defined %}
--workflow {{ tower_config_organization_permission.workflow | quote }}
{% endif %}
--type {{ tower_config_organization_permission.role | quote }}
