tower-cli
inventory_source
{% if tower_config_organization_inventory_source.state|default('present') == 'present' %}
create
{% elif tower_config_organization_inventory_source.state|default('present') == 'absent' %}
delete
{% elif tower_config_organization_inventory_source.state|default('present') == 'update' %}
modify
{% endif %}
{% if tower_config_organization_inventory_source.force_on_exists|default(true) %}
--force-on-exists
{% endif %}
{% if tower_config_organization_inventory_source.description is defined %}
--description {{ tower_config_organization_inventory_source.description | quote }}
{% endif %}
{% if tower_config_organization_inventory_source.credential is defined %}
--credential {{ tower_config_organization_inventory_source.credential | quote }}
{% endif %}
{% if tower_config_organization_inventory_source.source_vars is defined %}
--source-vars {{ tower_config_organization_inventory_source.source_vars | quote }}
{% endif %}
{% if tower_config_organization_inventory_source.timeout is defined %}
--timeout {{ tower_config_organization_inventory_source.timeout | quote }}
{% endif %}
{% if tower_config_organization_inventory_source.source_project is defined %}
--source-project {{ tower_config_organization_inventory_source.source_project | quote }}
{% endif %}
{% if tower_config_organization_inventory_source.source_path is defined %}
--source-path {{ tower_config_organization_inventory_source.source_path | quote }}
{% endif %}
{% if tower_config_organization_inventory_source.update_on_project_update is defined %}
--update-on-project-update {{ tower_config_organization_inventory_source.update_on_project_update | quote }}
{% endif %}
{% if tower_config_organization_inventory_source.source_regions is defined %}
--source-regions {{ tower_config_organization_inventory_source.source_regions | quote }}
{% endif %}
{% if tower_config_organization_inventory_source.instance_filters is defined %}
--instance-filters {{ tower_config_organization_inventory_source.instance_filters | quote }}
{% endif %}
{% if tower_config_organization_inventory_source.group_by is defined %}
--group-by {{ tower_config_organization_inventory_source.group_by | quote }}
{% endif %}
{% if tower_config_organization_inventory_source.source_script is defined %}
--source-script {{ tower_config_organization_inventory_source.source_script | quote }}
{% endif %}
{% if tower_config_organization_inventory_source.overwrite is defined %}
--overwrite {{ tower_config_organization_inventory_source.overwrite | quote }}
{% endif %}
{% if tower_config_organization_inventory_source.overwrite_vars is defined %}
--overwrite-vars {{ tower_config_organization_inventory_source.overwrite_vars | quote }}
{% endif %}
{% if tower_config_organization_inventory_source.update_on_launch is defined %}
--update-on-launch {{ tower_config_organization_inventory_source.update_on_launch | quote }}
{% endif %}
{% if tower_config_organization_inventory_source.update_cache_timeout is defined %}
--update-cache-timeout {{ tower_config_organization_inventory_source.update_cache_timeout | quote }}
{% endif %}
--name {{ tower_config_organization_inventory_source.name | quote }}
--inventory {{ tower_config_organization_inventory.name | quote }}
--source {{ tower_config_organization_inventory_source.source | quote }}
