host = https://{{ tower_config.host }}
verify_ssl = {{ tower_config.verify_ssl|bool }}
username = {{ tower_config.username }}
password = {{ tower_config.password }}
format = {{ tower_config.format }}
