[general]
host = {{ ansible_tower_config.host }}
verify_ssl = {{ ansible_tower_config.verify_ssl }}
username = {{ ansible_tower_config.username }}
password = {{ ansible_tower_config.password }}
format = {{ ansible_tower_config.format }}
